html, body {
    background-color: #cacaef;
    font-family: 'Raleway', sans-serif 
}

/* Esto no rompe nada? Necesito quitarlo para que 
el cropper del user-edit funcione */

/* img {
    width: 100%;
    height: auto;
} */


/* 
 @import "~bootstrap/dist/css/bootstrap.css" */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Diseño modal -- start */

.mywindow-class {    
    background-color: black;
    display: flex;
}

.mymodal-backdrop {
    background-color: #000;
    
}

.mymodal-backdrop.show {
    opacity: 1.4;
}


.mymodal-dialog{  
    margin: 0.1px auto;
    padding: 3px;
}



@media (min-width: 576px) {

    .mymodal-dialog {
        max-width: 100%;
        margin: 0.1px auto;
        padding: 3px;
    }


}

/* Diseño modal -- end */


/* Diseño modal-cropper -- start */

.mywindow-class-cropper {    
    background-color: black;
    display: flex;    
    margin: auto;
}

.mymodal-dialog-cropper {
    margin: 0.1px auto;
    padding: 3px;
    max-width: 95vw;
    max-height: 90wh;

}

.mymodal-dialog-cropper .modal-content {
    background-color: black;
    width: auto;
    margin: auto auto auto auto;

}

@media (min-width: 576px){
    .mymodal-dialog-cropper {
        max-width: 95vw;
        margin: 1.75rem auto;
        max-width: 95vw;
        max-height: 90wh;
      }
}

.mymodal-backdrop-cropper {
    background-color: #000;
    
}

.mymodal-backdrop-cropper.show {
    opacity: 1.4;
}


