/* You can add global styles to this file, and also import other style files */

/* Editamos header */

/* !important Sobreescribirá los estilos que tenga por defecto el bootstrap */

/* General styles*/

.h1-strong{
    font-size: 35px;
    font-weight: bold;
    /* margin-left: 13px; */
    margin-bottom: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eee;

}

.active {
    background: #a0201c !important;
}


.navigation {    
    padding: 0px !important;
}

.navigation .navbar {
    border-radius: 0px !important;
    background: #e53c37 !important;
    border: none;   
    
}

.navigation .navbar *{    
    
    color: white !important; 
    
}

.navigation .navbar a:hover {
    background: #5d5251 !important;
}

 /* vid 82 min 6 para ver modificaciones algo más pro de CSS*/
.navigation .dropdown-menu *{
    color: black !important;
}

.navigation .avatar{
   width: 35px;
   height: 35px;
   border-radius: 100px;
   overflow: hidden;
   margin-top: 9px;
   /* margin-bottom: 9px; */
   margin-right: 2px;    

}

.navigation .avatar img{
    height: 100%;
    width: 100%;
}


.jumbotron {
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

/* esta clase está sin uso */
.user-image-for-edit img{
    height: 60px;
}

/* GENTE */

.item-user .image-user,
.item-publication .image-user {

    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;  
    margin-right: 15px; 

}

.item-user .image-user img ,
.item-publication .image-user img {
    width: 100%;
    height: 100%;

}

.item-user .user-name,
.item-publication .user-name {
    margin-top: 10px;
}

.item-user .user-name .nick-name {
    
    color: #969393;
}


.item-user .user-name  .name-surname a{

    color: #555;
    font-weight: bold;


}

.avatar-default{
    /* con esto conseguimos que la imagen se centre */
    width: 100% !important

}


/* SIDEBAR */
.sidebar-32{
    width: 32% !important;
    padding: 0px !important;

}

#user-card, #new-publication {
    padding: 25px;
    width:32%;

}

#user-card .avatar{

    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;  
    margin-right: 15px;
    

}

/* para que te muestre la imagen proporcional al circulo */
#user-card .avatar img{

    width: 100%;
    height: 100%;    

}

#user-card .name-surname {
    font-weight: 300;
    font-size: 17px;
}

#user-card .name-surname a {
    color: #555;
}

#user-card .name-surname .nickname {
    color: #969393;
}

#user-card .stats{
    border-top: 1px solid #eee;
    margin-top: 10px;
}



#user-card .stats a{ 
    text-decoration: none;    
}

#user-card .stats a:hover .number-stats{ 
    text-decoration: none;
    color: red;
}


#user-card .label-stats,
#user-card .number-stats{
    /* para que se comporte como bloque y tenga salto de linea */
    display: block;
    text-align: center;

}

#user-card .label-stats{
    font-weight: bold;
    color: #555

}

#user-card .number-stats{
    font-weight: bold;
    color: green

}

#user-card .following-data{
    float: left;
    padding-right: 18px;
    padding-left: 18px;
    margin-top: 10px;
    border-right: 2px solid #eee



}

/* pseudoselector para eliminar el ultimo borde */
#user-card .following-data:last-child{
    border:none;
}

/* pseudoselector para eliminar el primer margen */
#user-card .following-data:first-child{
    padding-left: 6px;
}

/* SIDEBAR PUBLICATION */

#new-publication{
    padding: 18px;
    padding-left: 8px;
}

/* TIMELINE */

#publications {

    /* esto fuerza a que lo otro ocupe la derecha y se te quede ese espacio
    minimo requereido; */
    min-height: 500px;

}


#publications .date {
    color: gray;
}