<body>
    <div class="publicationscontainer">
        <div *ngFor="let publication of publications">

            <div class="publication">
                <img class="myimg" src="{{ url + 'get-image-pub/'+ publication.file}}" *ngIf="publication.file">
                <span class="mycard">
                    <div class="nameanddate">{{publication.name}}&nbsp;&nbsp;&nbsp;&nbsp; {{(publication.createdAt) | amLocale: 'es' | amTimeAgo}}</div>
                    <div class="mytext">{{publication.text}}</div> 
                </span>                                       
            </div>
        </div>
    </div>

    <div class='col-lg-12 text-center'>
        <p>
            <button class='btn btn-success' (click)="viewMore()" *ngIf="!noMore">
                Ver más publicaciones
            </button>
        </p>

    </div>


</body>