/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235 235 237);
} */

/* Use it to override css classes, but deprecated */

::ng-deep .modal-dialog {
    display: flex;
    max-width: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


::ng-deep .modal-content  { 
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;     
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    background-clip: none;
    border: 1px solid #0003;
    border-radius: 0.3rem;
    outline: none;
    align-items: center;
    max-width: 57%;
    background-color: #000;    
}

::ng-deep .modal-backdrop {
    background-color: #000;
}

::ng-deep .modal-backdrop.show {
    opacity: 1.4;
  }

::ng-deep .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; 
      
  }

  ::ng-deep .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: none;
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
  }
  
.mybtn-outline-dark {    
    display: block;
    width: 250px;
    margin: 4px;
    font-size: 18px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: rgb(24, 22, 22);
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    border-color: none;

}

.mybtn-outline-dark:active {    
    display: block;
    width: 250px;
    margin: 4px;
    font-size: 18px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: rgb(24, 22, 22);
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    border-color: none;

}

.mybtn-outline-dark:hover{
    background-image: linear-gradient(135deg, #667eea86 0%, #764ba28e 100%);;
}

.mybtn-outline-dark ::active ::before ::after{
    background-image: red;
}

::ng-deep .modal-dialog{
    height: 100%;
}

.modal-img {    
    height: auto;
    width: auto;
    max-width: 100%;
    border-radius: calc(0.3rem - 1px);
    border-radius: calc(0.3rem - 1px);        
}  


/* Normal section */

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235 235 237);
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #cacaef;
    height: auto;       
}

.publicationscontainer{
    width: 100%;
    height: auto;
    min-height: 83vh;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* border: 3px salmon solid; */
}

.publication{
    width: 49%;
    height: auto;
    margin: 25px 5px 5px;
    padding: 0.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.myimg{     
    width: auto;
    height: auto;
    max-height: 439.84px;
    max-width: 586.45px;       
    object-fit: cover;
    border-radius: 8px ;
    box-shadow: 11px 9px 13px 2px rgba(0,0,0,0.75)    
}

.mycard {
    width: 80%;
    height: auto;
    min-height: 70px;    
    margin: 25px 2px 2px;
    text-align: center;
    justify-content: center;
    overflow-x: visible;
    overflow-y: auto;
    overflow-wrap: anywhere;    
}

.mycard .nameanddate{
    margin: auto;    
    font-size: 1.5em;
    color: black;
}

.mycard .mytext{
    margin: auto;
    font-size: 1.3em;    
}

.viewmore {

    display: block;
    width: 250px;
    margin: auto;
    font-size: 18px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #fff;
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;

}




@media screen and (max-width: 800px){
    .myimg{
        width: 45%;
    }
}

@media screen and (max-width: 500px){
    .myimg{
        width: 95%;
    }
}