/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235 235 237);
} */

/* Parte modal que no está en styles.css */

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border-top: none;
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
    background-color: black;
  } 
  
.mybtn-outline-dark {    
    display: block;
    width: 166px;
    margin: 4px;
    font-size: 13px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: rgb(24, 22, 22);
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    border-color: none;

}

.mybtn-outline-dark:active {    
    display: block;
    width: 166px;
    margin: 4px;
    font-size: 13px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: rgb(24, 22, 22);
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    border-color: none;

}

.mybtn-outline-dark:hover{
    background-image: linear-gradient(135deg, #667eea86 0%, #764ba28e 100%);;
}

.mybtn-outline-dark ::active ::before ::after{
    background-image: red;
}



.modal-img {  
    
    max-height: 82vh;
    /* en principio no hace falta */
    max-width: 100vw;
    /* mantendrá su aspect ratio */
    object-fit: contain;
    /* fondo no se note */
    background-color: black;
}  


/* Normal section */

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235 235 237);
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #cacaef;
    height: auto;    
    height: 95vh;       
}

.publicationscontainer{
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(auto-fit,minmax(286px,0.25fr));
    grid-auto-rows: 296px;
    grid-gap: 13px;
    gap: 13px;
    width: 95%;
    max-width: 1183px;    
    min-height: 83%;
    align-content: center;
    margin: auto auto 10px;
    justify-content: center;
    padding: 30px 1px 30px 1px;   
}

.myimg{     
    width: 100%;
    height: 100%;
    /* max-width: 100%; */
    object-fit: cover; 
}

.mycard {
    width: 80%;
    height: auto;
    min-height: 70px;    
    margin: 25px 2px 2px;
    text-align: center;
    justify-content: center;
    overflow-x: visible;
    overflow-y: auto;
    overflow-wrap: anywhere;    
}

.mycard .nameanddate{
    margin: auto;    
    font-size: 1.5em;
    color: black;
}

.mycard .mytext{
    margin: auto;
    font-size: 1.3em;    
}

.viewmore {

    display: block;
    width: 250px;
    margin: 10px auto 27px auto;
    font-size: 18px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #fff;
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;

}




 @media screen and (max-width: 700px){
    .publicationscontainer {
    
    grid-template-columns: repeat(auto-fit,minmax(286px,1fr));
   
    }
}


/*
@media screen and (max-width: 500px){
    .myimg{
        width: 95%;
    }
} */