        
        <div class="contenedor nav-content">
          <a [routerLink]="['/login']" href="#" class="links">{{title}}</a>
          <a [routerLink]="['/publicaciones']" [routerLinkActive]="['active']" *ngIf="identity" href="#" class="links" ><span class="glyphicon glyphicon-camera"></span> Publicaciones</a>
          <a [routerLink]="['/amigos']" *ngIf="identity" class="links" [routerLink]="['/amigos']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user">  </span>Amigos</a>
          <a [routerLink]="['/mis-datos']" [routerLinkActive]="['active']" *ngIf="identity" href="#" class="links"><span class="glyphicon glyphicon-cog"></span>Mis datos</a>
          <a [routerLink]="['/publicar']" [routerLinkActive]="['active']" *ngIf="identity" href="#" class="links"><span class="glyphicon glyphicon-upload"> </span>Publicar</a>
          <div class="space"></div>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']" *ngIf="!identity" class="links"><span class="glyphicon glyphicon-log-in" ></span>Login</a>
          <a [routerLink]="['/register']" [routerLinkActive]="['active']" *ngIf="!identity" href="#" class="links"><span class="glyphicon glyphicon-pencil"></span>Registrarse</a>           
          <a class="avatar" *ngIf="identity">
            <!-- cargar foto  del user-->
           <img src="{{ url + 'get-image-user/' + identity.image}}" *ngIf="identity.image" />
          </a>
          <a class="links" *ngIf="identity" (click)="logout()" href="#">
            <span class="glyphicon glyphicon-off" ></span>
            Cerrar sesión
          </a>
      </div>

      

<router-outlet></router-outlet>
  
  





<!-- class="contenedor nav-content" -->



