    
    <div class="mybody">
    <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm)" class="form" >

        <div >
            <h1> Hola, {{identity.name}} </h1>
        </div>  

        <div class="alert alert-success" *ngIf="status == 'success'">
            Publicación enviada correctamente
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Error al publicar
        </div>


        <p>
            <label>¿Qué quieres publicar?</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text"
            class="form__email textarea" required></textarea>
            <span *ngIf="!text.valid && text.touched">
                El texto de la publicación es obligatorio
            </span>                    
        </p>
        <p>
            <label> Sube tu foto</label>
            <input type="file" class="form__email selectfile" 
            placeholder="Subir imagen"
            accept="image/*"
            (change)="fileChangeEvent($event)">
        </p>

        <input type="submit" value="Enviar" class="form__submit"
        [disabled]="!newPubForm.valid">

    </form>

    </div>
    
 

