
    <div class="mybody">
       
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form">
            <h2 class="form__title">{{title}}</h2>
             <!-- ALERTAS -->
        <div class="alert alert-success" *ngIf="status == 'success'">
            Login!
    
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
    
            Error en el login <a [routerLink]="['/login']"></a>
    
        </div>  
            <input type="email" class="form__email input" placeholder="Email:" name="mail" #mail="ngModel" [(ngModel)]="user.email" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span class="classspan" *ngIf="!mail.valid && mail.touched">
                El mail no es válido.
            </span>
            <input type="password" class="form__email input" placeholder="Password:"name="password" #password="ngModel" [(ngModel)]="user.password" 
            required />
        <span class="classspan" *ngIf="!password.valid && password.touched">
            Password no introducida
        </span>
            <input type="submit" value="Login" class="form__submit" [disabled]="!loginForm.form.valid" />
        </form>
    </div>    
   

                       
                
              
        