
<body>
    <div class="userscontainer">

        <!-- <h1 class="h1">
            Busca a tus amigos
        </h1>  -->
            
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Busca a tus amigos" name="filterUsers" [(ngModel)]="filterUsers">
        </div>

        <div *ngFor="let user of users | filter: filterUsers" class="users">

            <div class="cardimg">
                <a href="#">
                    <img class="imagenuser" src="{{ url + 'get-image-user/' + user.image}}" *ngIf="user.image">
                    <img class="imagenuser" src="../../assets/iconoUser.PNG" *ngIf="!user.image">
                </a>
            
                <p class="name-surname">
                    <a href="#">
                        {{user.name + ' ' +user.surname}}
                    </a>
                </p>
            
                <p class="nick-name">
                    {{user.nick}}
                </p>
            </div>

            <div class="infofriendcard" *ngIf="user.id != identity.id">
                <div *ngIf="friends.indexOf(user.id)>=0">
                    <button class="amigo" 
                    (click)="sendRequestToFriend(user.id)">
                    Es tu amigo 
                    </button>                    

                </div>

                
                    <button *ngIf="ReqFriends.indexOf(user.id)>=0 && friends.indexOf(user.id)<0" class="wantfriend" 
                        (mouseover)="showAcceptDeniedFunction(true)"
                        (mouseout)="showAcceptDeniedFunction(false)" 
                        (click)="sendRequestToFriend(user.id)">
                    Quiere ser tu amigo
                    </button>

                    <button *ngIf="ReqFriends.indexOf(user.id)>=0 && friends.indexOf(user.id)<0 && showAcceptDenied" class="acceptButton" 
                        (click)="sendRequestToFriend(user.id)">
                    Aceptar
                    </button>
                    
                    <button *ngIf="ReqFriends.indexOf(user.id)>=0 && friends.indexOf(user.id)<0 && showAcceptDenied" class="denyButton" >
                    Denegar
                    </button>                    
                    

                

                

                <!-- Solicitar amistad // dejar de solicitar-->
                <div *ngIf="ReqFriends.indexOf(user.id)<0 && friends.indexOf(user.id)<0">
                    <button class="requesttofriend"  
                    (click)="sendRequestToFriend(user.id)">

                    <span class="glyphicon glyphicon-plus-sign" ></span>
                    Solicitad amistad
                    </button>                    

                </div>
                
            </div>
                    
                    
                    
        </div>
    </div>
</body>

   