
<div class="col-lg-8">

    <h1 class="h1-strong">
        {{title}}
    </h1> 
    
    <div class="form-group">

        <input type="text" class="form-control" placeholder="Search..."
        name="filterUsers" [(ngModel)]="filterUsers">

    </div>
    

    <div class="people">

        

        <!-- listado -->
<!-- 
        FIJATE COMO AQUI ITERAS, Y ESO TE DA EL SOPORTE PARA TODO LO DEMÁS  -->

        <div *ngFor="let user of users | filter: filterUsers" class="item-user">
            <div class="panel panel-default" >
                <!-- flotar a la izquierda ?¿ -->
                <div class="panel-body">
                    <div class="image-user name pull-left">
                        <a href="#">
                            <img src="{{ url + 'get-image-user/' + user.image}}" *ngIf="user.image"> 
                            <img class="avatar-default" src="../../assets/iconoUser.PNG" *ngIf="!user.image"> 

                        </a> 
                    </div>
                    
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <a href="#">
                                {{user.name + ' ' +user.surname}}
                            </a> 
                        </p>
                        <p class="nick-name">
                            {{user.nick}}                            
                        </p>                  
                    </div>
                    <!--        seguir dejar de seguir -->

<!-- 
                    este primer IF es para que no nos aparezca a nosotros mismos
                    el boton de seguir/dejar -->
                    <div class="pull-right" *ngIf="user.id != identity.id">
                        {{user.id}}
                        <div *ngIf="friends.indexOf(user.id.toString())>=0">
                            <button class="btn btn-success" 
                            (click)="sendRequestToFriend(user.id)">

                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Amigo
                            </button>                      

                        </div>

                        <div *ngIf="ReqFriends.indexOf(user.id.toString())>=0">
                            <button class="btn btn-success" 
                            (click)="sendRequestToFriend(user.id)">

                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Quiere ser tu amigo
                            </button>                      

                        </div>

                        <div *ngIf="ReqFriends.indexOf(user.id.toString())<0 && friends.indexOf(user.id.toString())<0 ">
                            <button class="btn btn-success" 
                            (click)="sendRequestToFriend(user.id)">

                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Solicitad amistad
                            </button>                      

                        </div>


                        <ng-template #breakFriend>
                            <button class="btn btn-red">
                               
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                Ya no quiero ser tu amigo    
                                
                            </button>
                        </ng-template>

                        

                        
                                          

                    </div>
                   


                </div>
                

            </div>

        </div>

        <!-- paginacion -->

        <ul class="pagination pull-right">
            <li *ngIf="page > 1">
                <a [routerLink]="['/gente', prev_page]">
                Anterior
                </a>
            </li>
            <li *ngIf="pages != page">
                <a [routerLink]="['/gente', next_page]">
                Siguiente
                </a>
            </li>
        </ul>


    </div>  

    

</div>

<!-- Limpiar los posibles flotados -->

<div class="clearfix">
    <sidebar></sidebar>
</div>

    