
    <div class="mybody">
       
    <form #registerForm="ngForm" (ngSubmit)="registerFormSubmit(registerForm)" class="form">
            <h2 class="form__title">{{title}}</h2>
   
    <!-- ALERTAS -->
    <div class="alert alert-success" *ngIf="status == 'success'" >      
        Registro completado correctamente        
    
    </div>
    <div class="alert alert-danger" *ngIf="status && status != 'success'" >         
        <!-- Enlace dinámico, es un SPA, no recarga página -->
        {{status}}    
    </div>
            <input class="form__email input" type="text" name="name" placeholder="Nombre:" #name="ngModel" [(ngModel)]="user.name" required />
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>

            <input type="text" name="surname" placeholder="Apellidos: " #surname="ngModel" [(ngModel)]="user.surname" class="form__email input" required />
            <span *ngIf="!surname.valid && surname.touched">
                Los apellidos son obligatorios
            </span>

            <input type="text" name="nick" placeholder="Nick: " #nick="ngModel" [(ngModel)]="user.nick" class="form__email input" required />
            <span *ngIf="!nick.valid && nick.touched">
                El nick es obligatorio
            </span>

            <input type="email" class="form__email input" placeholder="Email:" name="mail" #mail="ngModel" [(ngModel)]="user.email" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span class="classspan" *ngIf="!mail.valid && mail.touched">
                El mail no es válido.
            </span>
            <input type="password" class="form__email input" placeholder="Password:" name="password" #password="ngModel" [(ngModel)]="user.password" 
            required />
            <span class="classspan" *ngIf="!password.valid && password.touched">
            La contraseña es obligatoria
            </span>
            <input type="submit" value="ENVIAR" class="form__submit" [disabled]="!registerForm.form.valid" />
        </form>
    </div>    
   

                       
                
              
        