<div class="mybody">

    <form #userEditForm="ngForm" (ngSubmit)="OnSubmit(userEditForm)" class="form">

    <div class="alert alert-success" *ngIf="status == 'success'">
        Se han actualizado los datos correctamente
    </div>
    
    <div class="alert alert-danger" *ngIf="status && status != 'success'">
        {{status}}
    </div>
        <p>
            <label>Nombre</label>
            <input class="form__email input" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required/>
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio.
            </span>
        </p>
        <p>
            <label>Apellidos</label>
            <input class="form__email input" type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname"  required/>
            <span *ngIf="!surname.valid && surname.touched">
                Los apellidos son obligatorios.
            </span>
        </p>
        <p>
            <label>Nick</label>
            <input class="form__email input" type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick"  required/>
            <span *ngIf="!nick.valid && nick.touched">
                El nick es obligatorio.
            </span>
        </p>
        <p>
            <label>Mail</label>
            <input class="form__email input" type="mail" name="mail" #mail="ngModel" [(ngModel)]="user.email" 
            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span *ngIf="!nick.valid && nick.touched">
                El mail no es correcto.
            </span>
        </p>
        
        <label>Sube tu avatar</label>
        <div *ngIf="user.image">
            <img class="formimg" src="{{url + 'get-image-user/' + user.image}}" />
        </div>
    
        <p>
            <!-- Aqui vamos a capturar todos los, edntro de la propiedad
            $event va a capurar el evento change y va a capturar
            todos los eventos que hayamos marcado en nuestro input -->
            
            <input class="form__email selectfile" type="file" placeholder="Sube una imagen"
             (change)="fileChangeEvent($event)"       
            />            
        </p>      
    
    
        <!-- Usamos la directiva disable como atributo disable  -->
        <input class="form__submit" type="submit" value="{{title}}" [disabled]="!userEditForm.form.valid" />
    
    </form>  
    
    
    

</div>

